<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Katalog</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <!-- Nagłówek -->
    <div class="well"> 
      <div class="container">
        <div class="row">

            <h1>My Books</h1>

        </div>
      </div>
    </div>
    <!-- Zawartość -->
    <div class="row">
      <div class="col-md-2"></div>
      <!-- Środkowa kolumna -->
      <div class="col-md-8">
        <!-- Nawigacja -->
        <div class="row">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><span class="glyphicon glyphicon-home"></span></a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="commingSoon">Borrowed</a></li>
                  <li><a href="#commingSoon">Favorites</a></li>
                  <li class="active"><a href="">Catalog</a></li>
                  <li><a href="#commingSoon">Contact</a></li>
                </ul>
                <form class="navbar-form navbar-right hide" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tytuł lub autor">
                  </div>
                  <button type="submit" class="btn btn-default">Search</button>
                </form>
              </div>
            </div>
          </nav>
        </div>
        <!-- Do renderowania -->
        <div class="row" id="to-render">

          
        <!-- Do renderowania -->
        </div>
      <!-- Koniec środkowej kolumny -->
      </div>
      <div class="col-md-2"></div>
    <!-- Koniec zawartości -->
    </div>








    <!-- templates -->
    <!-- książka w katalogu -->
    <script id="book-list-item" type="text/template">
        <div href="#" class="thumbnail">
          <img class="img-responsive" src="images/300x300.gif" alt="...">
          <div class="caption">
            <h2><a href="#books/<%= id %>"><%= title %></a>
              <br><small class="lead" style=""><%= author %></small>
            </h2>
            <p>
              <a href="#commingSoon" class="btn btn-primary" role="button">Borrow</a>
              <a href="#books/<%= id %>" class="btn btn-default" role="button">Book Description</a>
            </p>
          </div>
        </div>
    </script>
    <!-- podgląd książki -->
    <script id="book-deails-item" type="text/template">
      <div class="thumbnail">
        <div>
          <div class="caption">
            <a href="#" class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-circle-arrow-left"></span>Back to the catalog
            </a>
          </div>
          <div class="caption">
            <div class="row">    
              <div class="col-md-3 col-sm-3 text-center">
                <img class="img-responsive" src="images/300x300.gif" alt="...">
              </div>
              <div class="col-md-9 col-sm-9">
                <div class="pull-left caption">
                  <div class="row">
                    <h2><%= title %>
                      <br><small class="lead" style=""><%= author %></small>
                    </h2>
                    <p><%= description %></p>
                    <p ><span class="label label-default">Curious</span> <span class="label label-default">Reading</span> <span class="label label-default">Romance</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </script>
    <!-- not found & comming soon -->
    <script id="personalized" type="text/template">
      <div class="thumbnail">
        <div>
          <div class="caption">
            <div class="row">    
              <div class="col-md-3 col-sm-3 text-center">
                <img class="img-responsive img-circle" src="images/300x300.gif" alt="...">
              </div>
              <div class="col-md-9 col-sm-9">
                <div class="pull-left caption">
                  <div class="row">
                    <h2><%= title1 %>
                      <br><small class="lead" style=""><%= title2 %></small>
                    </h2>
                    <p><%= description %></p>
                    <a href="" class="btn btn-primary" role="button">
                      Back to the catalog
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </script>
    

    <!-- frameworks -->
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/json2.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootstrap.min.js"></script>


  </body>
</html>
